html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}
.scene-img {
	max-height: 100vh;
	/* view port size 맞게 조정이 된다. */
}
.global-width {
	max-width: 620px;
	margin: 0 auto;
	padding: 0 1rem;
}
.scroll-graphic {
	position: sticky;
	top: 0; 
	/* top: 0으로 지정해주어야 브라우저 스크롤을 내리다가 상단에 만났을 때 sticky 효과를 볼 수 있다.
	단, IE 11에서도 지원을 하지 않으므로, IE에 적용해야 할 때면 position: fixed를 이용해 JavaScript로 계산해 사용할 것  */
	height: 100vh;
	overflow-x: hidden;
	width: 80%;
	margin: 0 auto;
}
.graphic-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.5s;
	will-change: opacity;
	/* 바뀔 것을 미리 브라우저에 알려주는 것. 그래픽 아이템은 opacity를 change할 것입니다.  하지만, 남발은 금물. 적절히 제한적으로 써야 부하가 안 걸린다. will-change은 1분 코딩 영상에도 있다고 함. */
}
.visible {
	opacity: 1;
}
.scroll-text {
	/* By default.. static 
	z-index를 쓰지 않고도, HTML 구조 상 아래에 위치한 scroll-text가 위로 올라온 것임. z-index로 명시적으로 써주어도 된다. */
	position: relative;
	padding-bottom: 1px;
	/* 상하단 margin 병합 현상 때문 */
}
.step {
	/* font-size 기준으로 하겠다는 의미로 rem을 쓴 것 px 써도 된다. */
	padding: 0.5rem 1rem;
	margin-bottom: 60vh;
	/* view port 창 사이즈 기준 */
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
.bird {
	position: absolute;
	left: 0;
	bottom: 70%;
	width: 100px;
	transform: translateX(-100%); 
	/* 100% 즉, 내 크기만큼 왼쪽으로 */
	transition: 1.5s 0.5s linear;
	/* duration, transition-delay -> 0.5초 후에 1.5초 동안 재생하시오 */
}
[data-index="5"] .bird {
	left: 30%;
	bottom: 30%;
}
.global-footer {
	padding: 2rem 0;
	text-align: center;
}
.strikethrough {
	text-decoration: line-through;
}